
/* =======================================================
*
* 	Fonts
*
* ======================================================= */

@font-face {
  font-family: 'dancing_scriptregular';
  src: url('../fonts/dancingscript-regular-webfont.woff2') format('woff2'),
       url('../fonts/dancingscript-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
